Arithmetic Operators

1.) Addition(+)

In [1]:
total = 150+150
print('Total Amount: ',total)

Total Amount:  300

2.) Subtraction (-)

In [3]:
balance = 500-150
print("Remainig balance = ",balance)

Remainig balance =  350

3.) Multiplication(*)

In [4]:
price= 5*2
print ("The total price of two pens of 5 rupees is: ", price)

The total price of two pens of 5 rupees is:  10

4.) Division(/)

it returns float even if the inputs are whole

In [6]:
average= 100/4
print("Average= ", average)

Average=  25.0

5.) Floor Division

Divides and returns the integer part only

In [7]:
boxes= 17//5
print('Full Boxes: ', boxes)

Full Boxes:  3

6.) Modulus (%)

Returns remainder only

In [8]:
remainder = 17 % 5
print("Remaining items: ", remainder)

Remaining items:  2

7.) Exponentiation(**)

Raises one number to the power of another.

In [1]:
compound = 2**3
print("2 raised to 3: ",compound)

2 raised to 3:  8

Case Study: Retail Billing(Kirana Store)

In [1]:
# Items deatils
item1_price, item1_qty= 40,2
item2_price, item2_qty= 30,3

#Calculate totals:
item1_total = item1_price * item1_qty
item2_total = item2_price * item2_qty

#Subtotal
subtotal = item1_total + item2_total

#Apply discount
discount = 20
final_total = subtotal-discount

print("Subtotal: ", subtotal)
print("Discount: ", discount)
print("Final amount after discount: ", final_total)

Subtotal:  170
Discount:  20
Final amount after discount:  150

8.) Comparision Operators

These operators are used to compare values. They return Boolean values: True or False

Equals To(==)

In [2]:
marks= 75
print('Passed == 75: ', marks ==75)

Passed == 75:  True

Not Equal (!=)

In [3]:
print('Absent !=0 :', marks !=0)

Absent !=0 : True

Greater Than (>)

In [4]:
 print("Grade A: ", marks > 70)

Grade A:  True

Less Than (<)

In [5]:
print('Needs Improvement: ', marks <40)

Needs Improvement:  False

Greater Than or Equals To (>=)

In [6]:
print('First Class: ',marks >=60)

First Class:  True

Less Than or Equal To (<=)

In [7]:
print("Below Average: ", marks <=50)

Below Average:  False

Case Study: Education Result Evaluation

Problem Statement:

Create a program that evaluates student results using marks and assigns performance categories like 'Distinction', 'First Class', 'Pass Class', 'Fail'

In [9]:
marks= 82
if marks >= 75:
    category = "DISTINCTION"
elif marks >= 60:
    category = "FIRST CLASS"
elif marks >= 40:
    category = "PASS CLASS"
else:
    category = "FAIL"

print("Student scored: ",marks)
print("Result category: ",category)

Student scored:  82
Result category:  DISTINCTION

Logical Operators

These operators are used to combine conditional statements.

1.) Logical AND (and)

In [14]:
# Returns True if both conditions are true.

In [15]:
bp= 135
sugar= 180
print('Critical: ', bp>130 and sugar>150)

Critical:  True

2.) Logical OR (or)

In [16]:
# Returns True if at least one condition is True.

In [17]:
print('Requires check up: ', bp>130 or sugar>150)

Requires check up:  True

3.) Logical NOT (not)

In [18]:
# Inverts the Boolean value.

In [19]:
healthy= False
print('Not Healthy: ', not healthy)

Not Healthy:  True

Case Study: Healthcare Screening

PS: In a screening program, check if a patient is at health risk based on BP and Sugar levels using logical operators.

In [23]:
bp = 150
sugar= 170

if bp>140 and sugar>160:
    status= "High Risk"
elif bp>140 and sugar>160:
    status= "Moderate Risk"
else:
    status = "Low Risk"

print("BP:",bp, "| Sugar: ",sugar)
print("Health Risk Status: ",status)

BP: 150 | Sugar:  170
Health Risk Status:  High Risk

Assignment Operators

These are used to assign values to variables and modify them using various arithmatic operations.

1.) Assign (=)

In [24]:
# Assigns the value on the right to the variable on the left.

In [25]:
stock = 100
print('Initial Stock:', stock)

Initial Stock: 100

2.) Add and Assign (+=)

In [26]:
# Adds and assigns the result to the variable.

In [27]:
stock= 100
stock +=20
print('Updated Stock:', stock)

Updated Stock: 120

3.) Subtract and Assign (-=)

In [28]:
# Subtracts and assigns the result to the variable.

In [29]:
stock = 120
stock -=30
print('Remaining Stock:',stock)

Remaining Stock: 90

4.) Multiply and Assign (*=)

In [30]:
# Multiplies and assigns the result to the variable.

In [31]:
demand = 10
demand *= 3
print('Total Demand:', demand)

Total Demand: 30

5.) Divide and assign (/=)

In [32]:
# Divides and assigns the result to the variable.

In [33]:
weight = 300
weight /= 3
print('Average Weight:',weight)

Average Weight: 100.0

6.) Modulus and Assign (%=)

In [34]:
# Applies modulus and assigns result.

In [35]:
count = 17
count %= 5
print('Remainder Count:',count)

Remainder Count: 2

Case Study: Manufacturing Inventory Update

PS: A manufacturing unit tracks the stock of a component. Update the stock after new supplies arrive and after dispatches using Assignment Operators.

In [1]:
stock = 500

#New supply received 
stock += 150

#Dispatch done
stock -= 200

#Damage during transport (5%)
stock *= 0.95

print("Final Usable Stock:", int(stock))

Final Usable Stock: 427

Bitwise Operators

In [2]:
#These operators work on bits and perform bit-by-bit operations.

1.) AND (&)

In [3]:
# Perform bitwise AND.

In [4]:
a = 5 #In binary: 0101
b = 3 #In binary: 0011

#Bitwise AND compares each bit position
# 0101 (5)
# 0011 (3)
# ---- 
# 0001 (1) - Only the last bit is 1 in both numbers

result = a & b
print(result) # Output: 1

1

2.) OR (|)

In [5]:
# Performs bitwise OR.

In [6]:
#Bitwise OR compares each bit position
# 0101 (5)
# 0011 (3)
# ----
# 0111 (7)

orresult = a|b
print(orresult)

7

Identity and Membership Operators

In [7]:
# Used to compare memory location and collection membership.

1.) Identity Operator: is

In [1]:
# Checks if two variables point to the same object.

In [2]:
a= None
print('Is None:', a is None)

Is None: True

2.) Identity Operator: is not

In [3]:
# Checks if they do not point to the same object.

In [4]:
a = 5
print('Is not None:', a is not None)

Is not None: True

3.) Membership Operator: in

In [5]:
# Checks if a value is in a sequence (list, tuple,etc.)

In [8]:
skills = ['Python','Excel','SQL']
print('Python in skills:', 'Python' in skills)

Python in skills: True

4.) Membership Operator: not in

In [9]:
# Checks if a value is not in a sequence.

In [10]:
skills= ['Python', 'Excel', 'SQL']
print('Java not in skills:', 'Java' not in skills)

Java not in skills: True

Case Study: HR Skill Matching System

PS: An HR system needs to check if a candidate has required skills using Identity and Membership Operaors

In [13]:
candidate = {
    'name': 'Ravi',
    'skills': ['Python', 'SQL', 'Communication']
}

# Check if candidate has Python and Communication
if 'Python' in candidate['skills'] and 'Communication' in candidate['skills']:
    print(f"{candidate['name']} is eligible for Data Analyst role")
else:
    print(f"{candidate['name']}needs additional training")

Ravi is eligible for Data Analyst role